/* You can add custom styles here. */
/* PAGE CONTENT */
.page-content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 20rem;
}



/* INFO BAR */
.info-bar {
  margin-top: 1rem;
  margin-left: 2rem;
  background-color: var(--accent-color-lite);
  align-self: flex-start;
  padding: 16px;
}

.info-bar .tag-heading {
  font-size: 28px;
  margin-top: 56px;
  margin-bottom: 16px;
}

.info-bar ul {
  padding: 0;
  list-style: none;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}

.tag-item {
  display: flex;
  margin-bottom: 10px;
}

.tag-item:not(:last-child) {
  margin-right: 12px;
}

.tag-item a {
  padding: 6px 12px;
  border-radius: 100px;
  color: var(--link-color);
  background-color: var(--body-background);
  display: flex;
}

.tag-item a:hover {
  text-decoration: none;
}

.tag-item__amount {
  margin-left: 6px;
  background-color: var(--header-background);
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  width: 18px;
  height: 18px;
}

/* SWIPER */
.mySwiper {
  width: 16rem;
  height: 200px
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-button-prev, .mySwiper .swiper-button-next {
  --swiper-navigation-size: 32px;
}

/* RESPONSIVE */
@media only screen and (max-width: 1100px) {
  .page-content {
    grid-template-columns: 1fr;
  }

  .info-bar {
    margin: 0;
  }

  .mySwiper {
    width: 20rem;
    height: 240px;
  }
}